/* line 18, ../sass/main.scss */
body,
html {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 34, ../sass/main.scss */
body {
  background-color: #d2d0d0;
}

/* line 38, ../sass/main.scss */
.pomegranate {
  background-color: #331E36;
  color: rgba(255, 255, 255, 0.5);
}

/* line 43, ../sass/main.scss */
.yellow {
  background-color: #41337A;
  color: rgba(255, 255, 255, 0.5);
}

/* line 48, ../sass/main.scss */
.cerulean {
  background-color: #6EA4BF;
  color: rgba(32, 23, 44, 0.5);
}

/* line 53, ../sass/main.scss */
.limeade {
  background-color: #C2EFEB;
  color: rgba(32, 23, 44, 0.5);
}

/* line 58, ../sass/main.scss */
.downriver {
  background-color: #0d2c54;
  color: rgba(255, 255, 255, 0.5);
}

/* line 63, ../sass/main.scss */
p,
blockquote,
cite {
  font-weight: 400;
}

/* line 69, ../sass/main.scss */
section {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex: 1;
}

/* line 77, ../sass/main.scss */
.quote {
  width: 70%;
  margin: 0 auto;
}

/* line 82, ../sass/main.scss */
blockquote {
  display: block;
  font-size: 2.4rem;
  line-height: 1.4em;
}

/* line 88, ../sass/main.scss */
cite {
  display: block;
  margin-top: 1.5rem;
  text-align: right;
  font-size: 2rem;
}

/* line 95, ../sass/main.scss */
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: centered;
  justify-content: centered;
  padding: 1rem 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 105, ../sass/main.scss */
.moods {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 200px;
}
/* line 113, ../sass/main.scss */
.moods li {
  position: relative;
  border: 1px solid rgba(32, 23, 44, 0.5);
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
}
/* line 121, ../sass/main.scss */
.moods li span {
  position: absolute;
  display: none;
}
