/* line 23, ../sass/main.scss */
body,
html {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  font-size: 2vmin;
  -webkit-font-smoothing: antialiased;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1024px) {
  /* line 23, ../sass/main.scss */
  body,
  html {
    font-size: 13px;
  }
}

/* line 43, ../sass/main.scss */
.color1 {
  background-color: #331e36;
  color: rgba(255, 255, 255, 0.5);
}

/* line 48, ../sass/main.scss */
.color2 {
  background-color: #41337a;
  color: rgba(255, 255, 255, 0.5);
}

/* line 53, ../sass/main.scss */
.color3 {
  background-color: #6ea4bf;
  color: rgba(32, 23, 44, 0.5);
}

/* line 58, ../sass/main.scss */
.color4 {
  background-color: #c2efeb;
  color: rgba(32, 23, 44, 0.5);
}

/* line 63, ../sass/main.scss */
.color5 {
  background-color: #ecfee8;
  color: rgba(32, 23, 44, 0.5);
}

/* line 68, ../sass/main.scss */
p,
blockquote,
cite {
  font-weight: 400;
}

/* line 74, ../sass/main.scss */
section {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex: 1;
}

/* line 82, ../sass/main.scss */
header {
  font-family: 'Lato', Helvetica, sans-serif;
}

/* line 88, ../sass/main.scss */
.mood-search {
  position: relative;
  display: -webkit-flex;
  display: flex;
  z-index: 10;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  height: 2.7rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 101, ../sass/main.scss */
.mood-search .label {
  flex: 1;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: #fff;
  line-height: 2.7rem;
  padding: 0 1rem;
  text-align: center;
}
/* line 111, ../sass/main.scss */
.mood-search .select {
  flex: 3;
  height: 100%;
  cursor: pointer;
}
/* line 117, ../sass/main.scss */
.mood-search .select-styled {
  position: relative;
  height: 100%;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.8);
  line-height: 2.7rem;
  color: rgba(68, 68, 68, 0.8);
}
/* line 125, ../sass/main.scss */
.mood-search .select-styled:after {
  position: absolute;
  right: 2rem;
  top: 50%;
  content: '';
  width: 0;
  height: 0;
  border-top: 0.75rem solid rgba(32, 23, 44, 0.5);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 139, ../sass/main.scss */
.mood-search .select-options {
  max-height: 15rem;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: scroll;
}
/* line 147, ../sass/main.scss */
.mood-search .select-options li {
  padding: 0 2rem;
  background: #fff;
  line-height: 2.6rem;
  color: #b3b2b2;
}
/* line 153, ../sass/main.scss */
.mood-search .select-options li:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #444;
}

/* line 161, ../sass/main.scss */
.quote {
  width: 70%;
  margin: 0 auto;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* line 168, ../sass/main.scss */
.intro {
  text-align: center;
}

/* line 172, ../sass/main.scss */
blockquote {
  display: block;
  font-size: 2.4rem;
  line-height: 1.5em;
}

/* line 178, ../sass/main.scss */
cite {
  display: block;
  margin-top: 1.5rem;
  text-align: right;
  font-size: 2rem;
}

/* line 185, ../sass/main.scss */
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: centered;
  justify-content: centered;
  padding: 1rem 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 195, ../sass/main.scss */
.moods {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 200px;
}
/* line 203, ../sass/main.scss */
.moods li {
  position: relative;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
}
/* line 211, ../sass/main.scss */
.moods li span {
  position: absolute;
  display: none;
}

/* line 219, ../sass/main.scss */
.select-options {
  display: none;
}

/* line 224, ../sass/main.scss */
.social-share {
  margin-bottom: 3rem;
}

/* line 228, ../sass/main.scss */
.share-button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.2em;
  border: 2px solid currentColor;
  color: inherit;
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
  opacity: 0.5;
  box-sizing: border-box;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 242, ../sass/main.scss */
.share-button:hover {
  opacity: 1;
}
