/* line 10, ../sass/main.scss */
body,
html {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 480px;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 27, ../sass/main.scss */
body {
  background-color: #d2d0d0;
}

/* line 31, ../sass/main.scss */
.pomegranate {
  background-color: #f6511d;
}

/* line 35, ../sass/main.scss */
.yellow {
  background-color: #ffb400;
}

/* line 39, ../sass/main.scss */
.cerulean {
  background-color: #00a6ed;
}

/* line 43, ../sass/main.scss */
.limeade {
  background-color: #7fb800;
}

/* line 47, ../sass/main.scss */
.downriver {
  background-color: #0d2c54;
}

/* line 51, ../sass/main.scss */
p,
blockquote,
cite {
  font-weight: 400;
  color: #fff;
}

/* line 58, ../sass/main.scss */
section {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex: 1;
}

/* line 66, ../sass/main.scss */
.quote {
  width: 70%;
  margin: 0 auto;
}

/* line 71, ../sass/main.scss */
blockquote {
  display: block;
  font-size: 2.4rem;
  line-height: 1.4em;
}

/* line 77, ../sass/main.scss */
cite {
  display: block;
  margin-top: 1.5rem;
  text-align: right;
  font-size: 2rem;
}

/* line 84, ../sass/main.scss */
footer {
  padding: 1rem 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* line 92, ../sass/main.scss */
.moods {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
/* line 99, ../sass/main.scss */
.moods li {
  padding: 0 1rem;
  cursor: pointer;
}
